{% load custom_filters %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Договор реализации</title>

    <style>
      {% include "contracts/_base_styles.html" %}

      /* === LOCAL: договор комиссии === */
      @page {
        @bottom-left {
          content: " " counter(page);
          font-size: 9pt;
          margin-top: -25px;
          margin-left: 7px;
        }
      }
      @page main {
        size: A4 landscape;
        margin: 15mm 13mm 30pt;
      }
      body {
        font-size: 8pt;
      }
      .br {
        height: 12pt;
      }

      /* === Table === */
      .custom-table {
        width: 100%;
        border-collapse: collapse;
        box-sizing: border-box;
      }
      .custom-table th,
      .custom-table td {
        font-size: 6.5pt;
        font-weight: 300;
        padding: 2mm;
        vertical-align: top;
        border: 1px solid #000;
        box-sizing: border-box;
      }
      .custom-table td {
        overflow-wrap: break-word;
      }

      .main-page {
        page: main;
        column-count: 2;
        column-gap: 12.7mm;
      }
      .section-title {
        margin: 12pt 0;
        text-transform: uppercase;
        text-align: center;
      }
      .indent {
        margin-left: 12.5mm;
      }
      .requisites {
        display: flex;
        gap: 2.5mm;
        break-inside: avoid;
      }
      .requisites > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20pt;
        width: 50%;
        font-size: 9pt;
        line-height: 1.4;
        text-align: left;
      }
      .sign-img {
        left: -1mm;
      }
      .stamp-img {
        left: -20mm;
      }
      .appendix {
        font-size: 9pt;
      }
      .appendix-title {
        text-align: end;
        font-weight: bold;
      }
      .signatures {
        padding-right: 5mm;
      }
    </style>
  </head>

  <body>
    <div class="main-page">
      <div>
        <div class="doc-logo"><img src="logo.png" /></div>
        <p class="text-center" style="font-size: 7pt; font-weight: 600">
          ДОГОВОР КОМИССИИ № {{ document_number }}
        </p>
        <div
          class="flex justify-between"
          style="font-size: 7pt; margin: 10pt 0"
        >
          <span>г. Москва</span>
          <span>
            «{{ document_date|date:"d" }}» {{ document_date|date:"E" }}
            {{document_date|date:"Y" }} г.
          </span>
        </div>
        <p>
          <span class="indent">Общество</span> с ограниченной ответственностью
          «Эксбэгс», в лице директора Иванец Арины Романовны, действующего на
          основании Устава, далее именуемое Комиссионер, с одной стороны и
          {{seller_fullname }}, далее именуемый (-ая) Комитент, с другой стороны
          заключили настоящий договор о нижеследующем:
        </p>
        <p class="section-title">1. ПРЕДМЕТ ДОГОВОРА</p>
        <div>
          <span class="indent">1.1.</span>
          По настоящему договору Комиссионер за вознаграждение Комитента
          обязуется реализовать от своего имени принятый от Комитента Товар,
          бывший в употреблении.
          <div class="br"></div>
          <span class="indent">1.2.</span>
          По настоящему договору Комитент сдал, а Комиссионер принял на
          реализацию следующие Товары:

          <table class="custom-table">
            <colgroup>
              <col style="width: 38%" />
              <col style="width: 22%" />
              <col style="width: 40%" />
              <!-- <col style="width: 35%" /> -->
            </colgroup>

            <thead>
              <tr>
                <th>Наименование Товара</th>
                <th>Количество</th>
                <th>Стоимость продажи, согласованная Комитентом</th>
                <!-- <th>
                  Максимальная стоимость продажи, согласованная Комитентом
                </th> -->
              </tr>
            </thead>

            <tbody>
              {% for item in items %}
              <tr>
                <td>{{ item.brand }} {{ item.model }}</td>
                <td>1</td>
                <td>{{ item.offered_price }} ₽</td>
              </tr>
              {% endfor %}
              <tr>
                <td>Итого</td>
                <td colspan="2">{{ contract_amount }} ₽</td>
              </tr>
            </tbody>
          </table>
          <div class="br"></div>
          <span class="indent">1.3.</span>
          Вознаграждение Комиссионера определяется, как разница между
          максимальной стоимостью продажи Товара и минимальной стоимостью
          продажи, указанными в п. 1.2. настоящего договора, НДС включен в
          размер Вознаграждения.
          <div class="br"></div>
          <span class="indent">1.4.</span>
          Комиссионер вправе отступить от указаний Комитента, в том числе с
          учетом проводимых акций, скидок и иных маркетинговых мероприятий, при
          условии реализации вещи по цене, не ниже минимальной цены продажи,
          установленной в п. 1.2 настоящего договора. Комиссионер уведомляет
          Комитента о допущенных отступлениях в Акте оказанных услуг.
          <div class="br"></div>
          <span class="indent">1.5.</span>
          Настоящий договор действует в течение трех месяцев с момента его
          подписания сторонами и подписания сторонами Приложения №1 к настоящему
          договору. Если в течение указанного срока Товар Комитента не будет
          реализован Комиссионером, обязанности Комиссионера из п. 1.1.
          настоящего договора прекращаются.
          <div class="br"></div>
          <span class="indent">1.6.</span>
          В случае, если Комитент не изъявит желание забрать Товар после
          истечения срока действия Договора и не предпримет фактических действий
          к тому, чтобы забрать Товар после истечения срока действия Договора,
          срок Договора продлевается на три месяца. В случае продления Договора
          в соответствии с настоящим пунктом все условия остаются неизменными.
          <div class="br"></div>
          <span class="indent">1.7.</span>
          После заключения настоящего договора и перед началом процедуры
          реализации Товара Комиссионер осуществляет проверку оригинальности
          происхождения Товара, в том числе с помощью международных цифровых
          систем и с использованием возможностей сети Интернет. Длительность
          проверки составляет срок, не превышающий 72 часа с момента начала
          проверки. В случае, если при проверке оригинальности Товар окажется
          неоригинальным, то Комиссионер возвращает Товар Комитенту, а Комитент
          незамедлительно оплачивает Комиссионеру стоимость проверки, которая
          составляет 6000 (шесть тысяч) рублей за каждый проверенный Товар,
          являющийся неоригинальным, (если таким Товаром является сумка марки
          «Hermes» модели «Kelly» «Birkin» «Constance» стоимость проверки
          составляет 21 000 (двадцать одну тысячу) рублей, если таким Товаром
          являются часы марки «Rolex», стоимость проверки составляет 10 000
          (десять тысяч) рублей) указанные суммы включают НДС. В случае, если
          при проверке Товар окажется оригинальным, но Комитент по каким-либо
          причинам откажется от продажи Товара, в момент проведения проверки или
          впоследствии и сообщит Комиссионеру о желании забрать Товар обратно
          себе, то перед возвратом Товара Комитент оплачивает Комиссионеру
          стоимость проверки, которая составляет 6000 (шесть тысяч) рублей за
          каждый проверенный Товар, (если таким Товаром является сумка марки
          «Hermes» модели «Kelly» «Birkin» «Constance» стоимость проверки
          составляет 21 000 (двадцать одну тысячу) рублей, если таким Товаром
          являются часы марки «Rolex», стоимость проверки составляет 10 000
          (десять тысяч) рублей) указанные суммы включают НДС.
          <div class="br"></div>
          <span class="indent">1.8.</span>
          После проведения проверки оригинальности Товара Комиссионер вправе
          вернуть Товар Комитенту без объяснения причин возврата. В этом случае
          Договор считается расторгнутым с момента сообщения Комитенту о
          возврате Товара.
        </div>
        <p class="section-title">2. УЦЕНКА ТОВАРА И ПЛАТА ЗА ХРАНЕНИЕ</p>
        <div>
          <span class="indent">2.1.</span>
          В течение действия настоящего договора Комитенту не начисляется плата
          за хранение Товара.
          <div class="br"></div>
          <span class="indent">2.2.</span>
          По истечении трех месяцев с момента подписания настоящего договора
          Комитент обязан забрать непроданный Комиссионером Товар. В случае если
          Комитент не забирает Товар, Комиссионер начисляет плату за хранение в
          размере 0,1% от цены Товара в сутки. Также, если Комитент не забирает
          Товар, то, в случае невозможности осуществлять хранение Товара,
          Комиссионер имеет права осуществить продажу или утилизацию Товара. При
          возврате Товара Стороны подписывают акт возврата Товара (Приложение №3
          к настоящему Договору).

          <div class="br"></div>
          <span class="indent">2.3.</span> Комиссионер вправе удерживать Товары
          Комитента до оплаты Комитентом платы за хранение вещей после истечения
          срока настоящего договора.

          <div class="br"></div>
          <span class="indent">2.4.</span> В случае, если Комитент хочет забрать
          Товар ранее истечения срока действия договора, то он обязан возместить
          Комиссионеру стоимость услуги по проверке подлинности Товара в размере
          6000 (шесть тысяч) рублей за каждый проверенный Товар, (если таким
          Товаром является сумка марки «Hermes» модели «Kelly» «Birkin»
          «Constance» стоимость проверки составляет 21 000 (двадцать одну
          тысячу) рублей, если таким Товаром являются часы марки «Rolex»,
          стоимость проверки составляет 10 000 (десять тысяч) рублей) указанные
          суммы включают НДС. Документы и файлы, подтверждающие предоставление
          указанных услуг, будут переданы после их оплаты Комиссионером в адрес
          Комитента.
        </div>
        <p class="section-title">3. ЗАВЕРЕНИЯ СТОРОН</p>
        <div>
          <span class="indent">3.1.</span> Комитент заверяет Комиссионера, что
          Товары, указанные в п. 1.2. настоящего Договора является
          собственностью Комитента, право собственности Комитента на Имущество
          возникло на законных основаниях.
          <div class="br"></div>
          <span class="indent">3.2.</span> Комитент заверяет Комиссионера, что
          Имущество, указанное в п. 1.2. настоящего Договора не находится в
          залоге, не имеет иных обременений, не находится под арестом и не
          является предметом судебных разбирательств.
        </div>
        <p class="section-title">4. РАСЧЕТЫ И ОТВЕТСТВЕННОСТЬ ПО ДОГОВОРУ</p>
        <div>
          <span class="indent">4.1.</span> После реализации Товара Комиссионер
          направляет в адрес Комитента Акт оказанных услуг, в котором указана
          фактическая стоимость продажи Товара и размер вознаграждения
          Комиссионера. Комиссионер обязуется выплатить Комитенту сумму продажи
          за вычетом суммы комиссионного вознаграждения, указанной в Акте, в
          течение 10 (десяти) рабочих дней после подписания Комитентом Акта
          оказанных услуг.
          <div class="br"></div>
          <span class="indent">4.2.</span> За выполнение услуг по продаже Товара
          Комиссионер получает вознаграждение, указанное в п. 1.3. Договора. Так
          же Комиссионер вправе удержать связанные с продажей Товара расходы при
          их согласовании с Комитентом (доставка до Покупателя, упаковка, СПА)
          путем выставления счетов на данные услуги. Если Комиссионер выполнит
          комиссионное поручение на более выгодных условиях по сравнению с
          установленными Договором, полученная дополнительная выгода переходит
          Комиссионеру в полном объеме.
          <div class="br"></div>
          <span class="indent">4.3.</span> Комиссионер отвечает перед Комитентом
          за утрату, недостачу или повреждение находящегося у него Товара
          Комитента при наличии вины. Комиссионер обязан возместить Комитенту
          стоимость ущерба исходя из минимальной цены Товара, указанной в п.
          1.2. настоящего договора.
          <div class="br"></div>
          <span class="indent">4.4.</span> В случае нарушения Комитентом
          заверений, изложенных в п. п. 3.1., 3.2. настоящего Договора (Далее –
          Заверения), Комитент обязуется возместить Комиссионеру убытки,
          понесенные Комиссионером в связи с нарушением Комитентом Заверений, в
          полном объеме в течение 5 (Пяти) дней с момента предъявления
          Комиссионером соответствующего требования.
        </div>
        <p class="section-title">5. ПРЕКРАЩЕНИЕ ДОГОВОРА</p>
        <div>
          <span class="indent">5.1.</span> Настоящий договор прекращается:
          <div class="br"></div>
          <span class="indent">5.1.1.</span> В любой момент при отказе Комитента
          от исполнения договора. Комитент обязан в день прекращения договора
          забрать у Комиссионера нереализованные вещи. Начиная со следующего дня
          Комиссионер хранит вещи Комитента за плату по условиям п. 2.1.
          настоящего договора.
          <div class="br"></div>
          <span class="indent">5.1.2.</span> По инициативе Комиссионера в
          случае, если реализация Товара Комитента стала для Комиссионера
          невозможной. О прекращении договора Комиссионер предупреждает
          Комитента за 5 календарных дней. Начиная со следующего дня Комиссионер
          хранит вещи Комитента за плату по условиям п. 2.1. настоящего
          договора.
        </div>
        <p class="section-title">6. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
        <div>
          <span class="indent">6.1.</span> Факсимильные копии настоящего
          Договора, дополнительных соглашений к нему и приложений, а также
          других документов, исходящих от любой из сторон, имеют юридическую
          силу до момента получения оригинала соответствующего документа.
          <div class="br"></div>
          <span class="indent">6.2.</span> Настоящий договор составлен в двух
          экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру
          для каждой из сторон.
        </div>
        <p class="section-title">АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН</p>
        <div class="requisites">
          <div>
            <div>
              <b>Комиссионер</b><br />
              Общество с ограниченной ответственностью «Эксбэгс» <br />
              ОГРН 1217700495616 <br />
              ИНН 9702037262 <br />
              КПП 771001001 <br />
              Юр. адрес: 123001, город Москва, пер Козихинский Б., д. 22 стр. 1,
              помещ. 1/3 <br />
              р/с 40702810738000313163 в ПАО СБЕРБАНК; <br />
              - БИК 044525225; <br />
              - к/с 30101810400000000225 <br />
              тел. 89055704060 <br />
              <a
                href="mailto:info@ex-bags.ru"
                target="_blank"
                style="display: inline-block; margin: 6pt 0 10pt"
              >
                info@ex-bags.ru
              </a>
            </div>
            <div>
              <div class="signature-line">
                ______________/Иванец А.Р.

                <img
                  class="sign-img"
                  src="sign.png"
                />
              </div>
            </div>
          </div>
          <div style="text-align: left">
            <div>
              <b>Комитент</b><br />
              {{ seller_fullname }} <br />
              Дата рождения {{ seller_dob }} г.<br />
              Паспорт {{ seller_passport }}<br />
              Выдан {{ seller_passport_issued_by }}
              {{ seller_passport_issued_date }} г.<br />
              Адрес {{ seller_address }}<br />
              {% if seller_inn %}ИНН {{ seller_inn }}<br />
              {% endif %} {% if account_number %}Номер счёта
              {{account_number}}<br />
              {{ bank_name }}<br />
              БИК {{ bik }}<br />
              Корр. счёт {{ correspondent_account }}<br />
              {% endif %} {{ seller_phone }} <br />
              {% if seller_email %}{{ seller_email }}{% endif %}
            </div>
            <div style="display: flex; align-items: end">
              {% if signed_at %}
              <span style="text-decoration: underline"
                >Подписан [{{ signed_at|date:"d.m.Y H:i" }}] посредством
                СМС-подтверждения с номера [{{ seller_phone }}]</span
              >{% else %}___________________
              {%endif%}/{{seller_fullname|short_fio }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
