{% load custom_filters %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Договор купли-продажи</title>

    <style>
      {% include "contracts/_base_styles.html" %}

      /* === LOCAL: договор купли-продажи === */
      @page {
        @bottom-left {
          content: " " counter(page);
          font-size: 9pt;
          margin-top: -25px;
          margin-left: 7px;
        }
      }
      @page main {
        size: A4 landscape;
        margin: 15mm 13mm 25pt;
      }
      body {
        font-size: 8pt;
      }
      .highlight {
        background: yellow;
        line-height: 1.3;
      }
      .main-page {
        page: main;
        column-count: 2;
        column-gap: 12.7mm;
      }
      .next-col {
        break-before: column; /* переносит блок в следующую колонку */
      }
      .section-title {
        margin-top: 12pt;
        text-transform: uppercase;
        text-align: center;
      }
      .section-title .num {
        margin-right: 10mm;
        font-size: 7pt;
        font-weight: bold;
      }
      .indent {
        margin-left: 10mm;
      }
      .indent-2 {
        margin-left: 12.5mm;
      }
      .point-num {
        margin: 0 10mm 0 8mm;
        font-size: 7pt;
        font-weight: 600;
      }
      .requisites {
        display: flex;
        gap: 7.8mm;
        break-inside: avoid;
      }
      .requisites > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40pt;
        width: 50%;
        font-size: 11pt;
        line-height: 1.15;
      }
      .req-title {
        margin: 12pt 0 6pt;
        font-weight: bold;
        line-height: 1.2;
      }
      .sign-img {
        left: -1mm;
      }
      .stamp-img {
        left: -20mm;
      }
      .appendix-title {
        text-align: end;
        font-weight: bold;
      }
      .signatures {
        padding-right: 5mm;
      }
    </style>
  </head>

  <body>
    <div class="main-page">
      <div>
        <div class="doc-logo"><img src="logo.png" /></div>
        <p class="text-center mb-2">
          договор купли-продажи № {{ document_number }}
        </p>
        <div class="flex justify-between mb-2">
          <span>г. Москва</span>
          <span>
            «{{ document_date|date:"d" }}» {{ document_date|date:"E" }}
            {{document_date|date:"Y" }} г.
          </span>
        </div>
        <p>
          <span class="indent">Общество</span> с ограниченной ответственностью
          «Эксбэгс», в лице директора Иванец Арины Романовны, действующего на
          основании Устава, далее именуемое Покупатель, с одной стороны и
          {{seller_fullname }}, далее именуемый (-ая) Продавец, с другой стороны
          заключили настоящий договор о нижеследующем:
        </p>
        <p class="section-title">
          <span class="num">1.</span>
          ПРЕДМЕТ ДОГОВОРА
        </p>
        <p>
          <span class="point-num">1.1.</span>
          Продавец передает в собственность Покупателя следующее имущество:
          {% for item in items %} 
          {{ item.brand }} {{ item.model }}{% if not forloop.last %}, {% endif %} 
          {% endfor %} (Далее – Имущество), а
          Покупатель принимает Имущество и уплачивает за него цену в
          соответствии с условиями настоящего Договора
        </p>
        <p class="section-title">
          <span class="num">2.</span>
          ЦЕНА И ПОРЯДОК РАСЧЕТОВ
        </p>
        <p>
          <span class="point-num">2.1.</span>Цена составляет {{contract_amount}}
          ({{ contract_amount_words }}) рублей (далее – «Цена договора»).
          <br />
          <span class="point-num">2.2.</span>Оплата Цены покупки осуществляется
          после подписания сторонами Акта приема-передачи.
          <br />
          <span class="point-num">2.3.</span>Оплата производится либо путем
          перевода денежных средств Покупателем на расчетный счет Продавца по
          реквизитам, указанным в Договоре, либо путем передачи наличных
          денежных средств от Покупателя Продавцу.
          <br />
          <span class="point-num">2.4.</span>
          Цена покупки, подлежащая оплате в соответствии с настоящим Договором,
          указана с учетом отсутствия НДС в связи с тем, что НДС Продавцом не
          применяется.
        </p>
        <p class="section-title">
          <span class="num">3.</span>
          ПЕРЕДАЧА ИМУЩЕСТВА
        </p>
        <p>
          <span class="point-num">3.1.</span>Обязательство Продавца по передаче
          Имущества Покупателю считается исполненным и риски случайной гибели
          или случайного повреждения Имущества считаются перешедшими от Продавца
          к Покупателю в момент подписания уполномоченным представителем
          Покупателя Акта приема-передачи, составленного по форме, приведенной к
          настоящему Договору (ранее и далее по тексту – «<b>Акт приема-передачи</b>»).
          <br />
          <span class="point-num">3.2.</span>Право собственности на Имущество
          переходит от Продавца к Покупателю после подписания Сторонами Акта
          приема-передачи и при условии полной оплаты Имущества.
          <br />
          <span class="point-num">3.3.</span>
          При приемке Имущества Покупатель обязан осуществить его проверку и
          сообщить Продавцу о замеченных в ходе приемки недостатках, которые
          должны быть зафиксированы в Акте приема-передачи.
          <br />
          <span class="point-num">3.4.</span>
          При приемке Имущества Покупатель осуществляет проверку оригинальности
          происхождения Имущества, в том числе с помощью международных цифровых
          систем и с использованием возможностей сети Интернет. В случае, если
          при проверке оригинальности имущество окажется неоригинальным, то
          Покупатель возвращает вещь Продавцу, а Продавец незамедлительно
          оплачивает Покупателю стоимость проверки, которая составляет 21 000
          (двадцать одну тысячу) рублей, если таким Товаром является сумка марки
          «Hermes» модели «Kelly» «Birkin» «Constance», 10 000 (десять тысяч)
          рублей, если таким Товаром являются часы марки «Rolex», во всех
          остальных случаях 6 000 (шесть тысяч) рублей за каждый проверенный
          Товар, являющийся неоригинальным, указанные суммы включают НДС, а
          также возвращает уплаченные за Товар денежные средства. В случае, если
          при проверке оригинальности имущество окажется оригинальным, но
          Продавец по каким-либо причинам откажется от продажи имущества после
          проведения проверки и сообщит Покупателю о желании забрать вещь
          обратно себе, то перед возвратом имущества Продавец оплачивает
          Покупателю стоимость проверки, которая составляет 21 000 (двадцать
          одну тысячу) рублей, если таким Товаром является сумка марки «Hermes»
          модели «Kelly» «Birkin» «Constance», 10 000 (десять тысяч) рублей,
          если таким Товаром являются часы марки «Rolex», во всех остальных
          случаях 6 000 (шесть тысяч) рублей за каждый проверенный Товар,
          указанные суммы включают НДС.
          <br />
          <span class="point-num">3.5.</span>
          После проведения проверки оригинальности Товара Покупатель вправе
          вернуть Товар Продавцу без объяснения причин возврата. В этом случае
          Договор считается расторгнутым с момента сообщения Продавцу о возврате
          Товара.
        </p>
        <p class="section-title">
          <span class="num">4.</span>
          ЗАВЕРЕНИЯ СТОРОН
        </p>
        <p>
          <span class="point-num">4.1.</span>
          Продавец заверяет Покупателя, что Имущество, указанное в п. 1.1.
          настоящего Договора является собственностью Покупателя, право
          собственности Продавца на Имущество возникло на законных основаниях.
          <br />
          <span class="point-num">4.2.</span>
          Продавец заверяет Покупателя, что Имущество, указанное в п. 1.1.
          настоящего Договора не находится в залоге, не имеет иных обременений,
          не находится под арестом и не является предметом судебных
          разбирательств
        </p>
        <p class="section-title">
          <span class="num">5.</span>
          ОТВЕТСТВЕННОСТЬ СТОРОН
        </p>
        <p>
          <span class="point-num">5.1.</span>
          В случае нарушения Продавцом заверений, изложенных в п. п. 4.1., 4.2.
          настоящего Договора (Далее – Заверения), Продавец обязуется возместить
          Покупателю убытки, понесенные Покупателем в связи с нарушением
          Продавцом Заверений, в полном объеме в течение 5 (Пяти) дней с момента
          предъявления Покупателем соответствующего требования.
        </p>
        <p class="section-title">
          <span class="num">6.</span>
          ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
        </p>
        <p>
          <span class="point-num">6.1.</span>
          Настоящий Договор представляет собой полное соглашение Сторон и
          никакие гарантии или договоренности, устные или иные, между Сторонами,
          не отраженные в настоящем Договоре, не имеют силы и являются
          недействительными. <br />
          <span class="point-num">6.2.</span> Если какое-либо условие или
          положение настоящего Договора будет признано недействительным, это не
          влечет недействительности остальных условий и положений настоящего
          Договора. <br />
          <span class="point-num">6.3.</span>
          Ни одна из Сторон не имеет права уступать свои права и переводить свои
          обязанности по настоящему Договору или распоряжаться ими иным образом
          без получения предварительного письменного согласия другой Стороны.
          <br />
          <span class="point-num">6.4.</span> Все приложения являются
          неотъемлемой частью настоящего Договора. <br />
          <span class="point-num">6.5.</span>
          Стороны признают юридическую силу Договора, Приложений, Актов,
          Дополнительных соглашений, направленных друг другу в виде
          отсканированных копий по электронной почте. При этом стороны обязуются
          осуществить обмен оригинальными экземплярами вышеуказанных документов.
          <br />
          <span class="point-num">6.6.</span> В части, не урегулированной
          настоящим Договором, отношения Сторон регламентируются
          законодательством Российской Федерации. <br />
          <span class="point-num">6.7.</span>
          Факсимильные копии настоящего Договора, дополнительных соглашений к
          нему и приложений, а также других документов, исходящих от любой из
          сторон, имеют юридическую силу до момента получения оригинала
          соответствующего документа. <br />
          <span class="point-num">6.8.</span>
          Настоящий Договор подписан в двух идентичных экземплярах на русском
          языке, имеющих одинаковую юридическую силу, по одному экземпляру для
          каждой из Сторон.
        </p>
        <div class="next-col">
          <br /><br />
          <p class="section-title">
            <b>
              <span style="font-size: 11pt">7.</span>
              реквизиты и подписи сторон
            </b>
          </p>
          <div class="requisites">
            <div>
              <div>
                <p class="req-title">Покупатель</p>
                Общество с ограниченной ответственностью «Эксбэгс» <br />
                ОГРН 1217700495616 <br />
                ИНН 9702037262 <br />
                КПП 771001001 <br />
                Юр. адрес: 123001, город Москва, пер Козихинский Б., д. 22 стр.
                1, помещ. 1/3 <br />
                р/с 40702810738000313163 в ПАО СБЕРБАНК; <br />
                - БИК 044525225; <br />
                - к/с 30101810400000000225 <br />
                тел. 89055704060 <br />
                info@ex-bags.ru
              </div>
              <div>
                <div class="signature-line">
                  ______________/Иванец А.Р.

                  <img
                    class="sign-img"
                    src="sign.png"
                  />
                  <img
                    class="stamp-img"
                    src="stamp.png"
                  />
                </div>
              </div>
            </div>
            <div style="text-align: left">
              <div>
                <p class="req-title">Продавец</p>
                <p style="display: inline">
                  {{ seller_fullname }} <br />
                  Дата рождения {{ seller_dob }} г.<br />
                  Паспорт {{ seller_passport }}<br />
                  Выдан {{ seller_passport_issued_by }}
                  {{seller_passport_issued_date }} г.<br />
                  Адрес регистрации {{ seller_address }}<br />
                  {% if seller_inn %}ИНН {{ seller_inn }}<br />
                  {% endif %} {% if account_number %}Счёт получателя
                  {{account_number }}<br />
                  {{ bank_name }}<br />
                  БИК {{ bik }}<br />
                  Корр. счёт {{ correspondent_account }}<br />
                  {% endif %} Контактные данные: {{ seller_phone }} <br />
                  {% if seller_email %}{{ seller_email }}{% endif %}
                </p>
              </div>
              <div style="display: flex; align-items: end">
                {% if signed_at %}<span style="text-decoration: underline"
                  >Подписан [{{ signed_at|date:"d.m.Y H:i" }}] посредством
                  СМС-подтверждения с номера [{{ seller_phone }}]</span
                >{% else %}___________________{% endif %}/<span
                 
                  >{{ seller_fullname|short_fio }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
