{% load custom_filters %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Договор мены</title>

    <style>
      {% include "contracts/_base_styles.html" %}

      /* === LOCAL: договор мены === */
      @page {
        @bottom-left {
          content: " " counter(page);
          font-size: 9pt;
          margin-top: -25px;
          margin-left: 7px;
        }
      }
      @page main {
        size: A4 landscape;
        margin: 15mm 13mm 30pt;
      }
      body {
        font-size: 8pt;
      }
      .br {
        height: 6pt;
      }
      .highlight {
        background: yellow;
      }
      .main-page {
        page: main;
        column-count: 2;
        column-gap: 12.7mm;
      }
      .section-title {
        margin: 0.75pt 0 7.5pt;
        text-transform: uppercase;
        text-align: center;
      }
      .indent {
        margin-left: 15mm;
      }
      .requisites {
        display: flex;
        gap: 2.5mm;
        break-inside: avoid;
      }
      .requisites > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40pt;
        width: 50%;
        font-size: 9pt;
        line-height: 1.4;
        text-align: left;
      }
      .sign-img {
        left: -2mm;
      }
      .stamp-img {
        left: -13mm;
      }
      .appendix {
        font-size: 9pt;
      }
      .appendix-title {
        text-align: center;
        font-weight: 600;
      }
    </style>
  </head>

  <body>
    <div class="main-page">
      <div>
        <div class="doc-logo"><img src="logo.png" /></div>
        <p class="text-center" style="font-weight: 600">
          Договор мены № {{ document_number }}
        </p>
        <div
          class="flex justify-between"
          style="font-size: 7pt; margin: 8pt 0 6pt"
        >
          <span>г. Москва</span>
          <span>
            «{{ document_date|date:"d" }}» {{ document_date|date:"E" }}
            {{document_date|date:"Y" }} г.
          </span>
        </div>
        <div class="br"></div>
        <p>
          <span class="indent">Общество</span> с ограниченной ответственностью
          «Эксбэгс», в лице директора Иванец Арины Романовны, действующего на
          основании Устава, именуемое в дальнейшем «<b>Сторона 1</b>», с одной
          стороны, и <span>{{ seller_fullname }}</span>,
          именуемый (-ая) в дальнейшем «<b>Сторона 2</b>», с другой стороны,
          именуемые в дальнейшем «Стороны», заключили настоящий договор, в
          дальнейшем «<b>Договор</b>», о нижеследующем:
        </p>
        <p class="section-title">1. ПРЕДМЕТ ДОГОВОРА</p>
        <div>
          <span class="indent">1.1.</span> Сторона 1 обязуется передать Стороне
          2 в собственность Товар, указанный в п.1.2 настоящего договора, а
          Сторона 2 обязуется в обмен передать Стороне 1 товары, указанные в
          п.1.3, а также возместить разницу в стоимости между обмениваемыми
          товарами.
          <div class="br"></div>
          <span class="indent">1.2.</span> Товар, передаваемый Стороной 1:
          <span>
            подарочный сертификат Общества с ограниченной ответственностью
            «Эксбэгс».
          </span>
          <div class="br"></div>
          <span class="indent">1.3.</span> Товары, передаваемые Стороной 2:
          <span>{% for item in items %}{{ item.brand }} {{ item.model }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}</span>
          <div class="br"></div>
          <span class="indent">1.4.</span> Стоимость обмениваемого товара,
          передаваемого Стороной 1, составляет
          <span
            >{{ contract_amount }} ({{ contract_amount_words }})</span
          >
          рублей, в том числе НДС.
          <div class="br"></div>
          <span class="indent">1.5.</span> Стоимость обмениваемого товара,
          передаваемого Стороной 2, составляет
          <span
            >{{ contract_amount }} ({{ contract_amount_words }})</span
          >
          рублей. Таким образом, разница в стоимости обмениваемых товаров,
          подлежащая возмещению
          <span>Стороной 2 Стороне 1</span>, составляет
          <span>0 (ноль)</span> рублей
          <div class="br"></div>
          <span class="indent">1.6.</span> Обмениваемый товар никому не продан,
          не заложен, в споре и под арестом не состоит.
          <div class="br"></div>
          <span class="indent">1.7.</span> Право собственности на обмениваемый
          товар переходит к Сторонам одновременно после исполнения обязательств
          по передаче соответствующего товара обеими Сторонами и возмещения
          разницы в стоимости товара Стороной 2 Стороне 1.
        </div>
        <p class="section-title">2. УСЛОВИЯ ПЕРЕДАЧИ ТОВАРА</p>
        <div>
          <span class="indent">2.1.</span> В результате настоящего договора в
          собственность Стороны 1 переходит товар, указанный в п.1.3 настоящего
          договора, а в собственность Стороны 2 переходит товар, указанный в
          п.1.2 договора.
          <div class="br"></div>
          <span class="indent">2.2.</span> Передача обмениваемого товара,
          указанного в п.п. 1.2 и 1.3 настоящего договора, осуществляется по
          Акту приема-передачи, составляемому и подписываемому Сторонами.
          <div class="br"></div>
          <span class="indent">2.3.</span> Право собственности на обмениваемый
          товар возникает у Сторон в момент передачи товара, указанного в п.п.
          1.2 и 1.3 данного договора, после подписания Акта приема-передачи.
        </div>
        <p class="section-title">3. ЗАВЕРЕНИЯ СТОРОН</p>
        <div>
          <span class="indent">3.1.</span> Стороны заверяют друг друга, что
          Товар, передаваемый в соответствии с условиями настоящего договора,
          является собственностью той Стороны, которая его передает, право
          собственности соответствующей стороны на Товар возникло на законных
          основаниях.
          <div class="br"></div>
          <span class="indent">3.2.</span> Стороны заверяют друг друга, что
          Товар, передаваемый в соответствии с условиями настоящего договора, не
          находится в залоге, не имеет иных обременений, не находится под
          арестом и не является предметом судебных разбирательств.
        </div>
        <p class="section-title">4. ОБЯЗАННОСТИ СТОРОН</p>
        <div>
          <span class="indent">4.1.</span> Сторона 2 обязуется перечислить
          Стороне 1 разницу в стоимости обмениваемого товара, указанную в п.1.5,
          в момент подписания настоящего договора.
          <div class="br"></div>
          <span class="indent">4.2.</span> Стороны передают обмениваемый товар
          одновременно с моментом перечисления Стороной 2 Стороне 1 разницы в
          стоимости обмениваемого Товара. Передача товара производится в месте
          нахождения Стороны 1 по адресу: г. Москва, Трёхпрудный пер., д. 4,
          стр.1, офис 233.
          <div class="br"></div>
          <span class="indent">4.3.</span> Перед процессом обмена Товара Сторона
          1 осуществляет проверку оригинальности происхождения Товара,
          указанного в п. 1.3., в том числе с помощью международных цифровых
          систем и с использованием возможностей сети Интернет. В случае, если
          при проверке оригинальности Товар окажется неоригинальным, то Сторона
          1 возвращает Товар, указанный в п. 1.3. Стороне 2, а Сторона 2
          незамедлительно оплачивает Стороне 1 стоимость проверки, которая
          составляет 21 000 (двадцать одну тысячу) рублей, если таким Товаром
          является сумка марки «Hermes» модели «Kelly» «Birkin» «Constance», 10
          000 (десять тысяч) рублей, если таким Товаром являются часы марки
          «Rolex», во всех остальных случаях 6 000 (шесть тысяч) рублей за
          каждый проверенный Товар, являющийся неоригинальным, а также
          возвращает Стороне 1 переданный Товар, указанный в п. 1.2.
          Вышеуказанные суммы включают НДС.
          <div class="br"></div>
          <span class="indent">4.4.</span> После проведения проверки
          оригинальности Товара Сторона 1 вправе вернуть Товар Стороне 2 без
          объяснения причин возврата. В этом случае Договор считается
          расторгнутым с момента сообщения Стороне 2 о возврате Товара.
        </div>
        <p class="section-title">5. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
        <div>
          <span class="indent">5.1.</span> За нарушение любой из Сторон
          обязательств по настоящему договору нарушившая свое обязательство
          Сторона должна уплатить другой Стороне штраф в размере 1% от стоимости
          передаваемого товара за каждый день просрочки.
          <div class="br"></div>
          <span class="indent">5.2.</span> Меры ответственности Сторон, не
          предусмотренные настоящим договором, применяются в соответствии с
          нормами гражданского законодательства РФ.
          <div class="br"></div>
          <span class="indent">5.3.</span> Уплата неустойки в виде штрафа не
          освобождает нарушившую обязательство Сторону от исполнения лежащих на
          ней обязательств.

          <div class="br"></div>
          <span class="indent">5.4.</span> В случае нарушения какой-либо из
          Сторон, заверений, изложенных в п. п. 3.1., 3.2. настоящего Договора,
          Сторона, нарушившая соответствующее заверение, обязуется возместить
          другой Стороне убытки, понесенные ей в связи с нарушением заверения, в
          полном объеме в течение 5 (Пяти) дней с момента предъявления
          соответствующего требования.
        </div>
        <p class="section-title">6. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</p>
        <div>
          <span class="indent">6.1.</span> Споры и разногласия, которые могут
          возникнуть при исполнении настоящего договора, будут, по возможности,
          разрешаться путем переговоров между Сторонами.
          <div class="br"></div>
          <span class="indent">6.2.</span> В случае невозможности разрешения
          споров путем переговоров Стороны передают их на рассмотрение в
          судебный орган г. Москвы.
        </div>
        <p class="section-title">7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</p>
        <div>
          <span class="indent">7.1.</span> Любые изменения и дополнения к
          настоящему договору действительны лишь при условии, что они совершены
          в письменной форме и подписаны уполномоченными на то представителями
          Сторон. Приложения к настоящему договору составляют его неотъемлемую
          часть.
          <div class="br"></div>
          <span class="indent">7.2.</span> Факсимильные копии настоящего
          Договора, дополнительных соглашений к нему и приложений, а также
          других документов, исходящих от любой из сторон, имеют юридическую
          силу до момента получения оригинала соответствующего документа.
          <div class="br"></div>
          <span class="indent">7.3.</span> Настоящий договор составлен в двух
          экземплярах, имеющих равную юридическую силу, по одному для каждой из
          Сторон.
        </div>
        <p class="section-title">8. РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</p>
        <div class="br"></div>
        <div class="requisites">
          <div>
            <div>
              <b>Сторона 1</b><br />
              Общество с ограниченной ответственностью «Эксбэгс» <br />
              ОГРН 1217700495616 <br />
              ИНН 9702037262 <br />
              КПП 771001001 <br />
              Юр. адрес: 123001, город Москва, пер Козихинский Б., д. 22 стр. 1,
              помещ. 1/3 <br />
              р/с 40702810738000313163 в ПАО СБЕРБАНК; <br />
              - БИК 044525225; <br />
              - к/с 30101810400000000225 <br />
              тел. 89055704060 <br />
              info@ex-bags.ru
            </div>
            <div>
              <div class="signature-line">
                __________________/Иванец А.Р.

                <img
                  class="sign-img"
                  src="sign.png"
                />
                <img
                  class="stamp-img"
                  src="stamp.png"
                />
              </div>
            </div>
          </div>
          <div style="text-align: left">
            <div>
              <b>Сторона 2</b><br />
              <span>
                {{ seller_fullname }} <br />
                Дата рождения {{ seller_dob }} г.<br />
                Паспорт {{ seller_passport }}<br />
                Выдан {{ seller_passport_issued_by }}
                {{ seller_passport_issued_date }} г. <br />
                Адрес {{ seller_address }}<br />

                {% if seller_inn %}ИНН {{ seller_inn }}
                <br />{% endif %} {% if account_number %}Номер счёта
                {{account_number}}<br />
                {{ bank_name }}<br />
                БИК {{ bik }}<br />
                Корр. счёт {{ correspondent_account }}<br />
                {% endif %} {{ seller_phone }} <br />
                {% if seller_email %}{{ seller_email }}{% endif %}
              </span>
            </div>
            <div style="display: flex; align-items: end">
              {% if signed_at %}<span style="text-decoration: underline"
                >Подписан [{{ signed_at|date:"d.m.Y H:i" }}] посредством
                СМС-подтверждения с номера [{{ seller_phone }}]</span
              >{% else %}___________________{% endif %}/<span
                >{{ seller_fullname|short_fio }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
